.txt {
    width: 500px;
    border: none;
    margin-left: 20px;
}

.main {
    display: flex;
    text-align: center
}

.bg1,.bg2 {
    width: 300px;
    height: 400px;
    background: #ccc;
    margin: 20px;
    position: relative;
}
/* 
.bg1 {
    background: url(../../../images/邀请好友1.png) center center no-repeat;
    background-image: cover;
} */

.erweima {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
}